{% extends 'base.html' %}
{% load static %}
    {% block corecss %}
    <link rel="stylesheet" href="{% get_static_prefix %}assets/css/about.css">
    {% endblock%}
    
{% block content %}
    <!--HERO SECTION -->
    <section class="hero_section">
     <!-- header text -->
     <div class="workflow_header_text">
        <h2>About</h2>
    </div>
    </section>

    <!----------------MODAL POPUP FORM ------->
<section class="modal_popup">
    <div class="modal_form" id="form_content">
      <div class="form_data"> 
   <div class="close_btn">
      <i class="fa-solid fa-xmark"></i>
   </div>
    <div class="form_text">
      <h2>What Makes Us Different?</h2>
      <p>Please fill out the short form below with your project details 
          and we will be in touch shortly.</p>
    </div>  
    <div class="form">
      <div class="form_flex1">
          <div class="name">
              <span class="name_icon">
          <input type="text" name="" placeholder="Name">
      </span>
      </div>
      <div class="email">
          <span class="email_icon">
          <input type="email" name="" placeholder="Email">
      </span>
      </div>
          
      </div>
      <div class="form_flex1">
          <div class="url">
         <span class="url_icon">
              <input type="url" name="" placeholder="Your Website URL">
          </span>
          </div>
          <div class="budget">
              <span class="bug_icon">
          <select name="" id="">
              <option value="">Your Budget</option>
              <option value="">3500-2500</option>
              <option value="">3500-5000</option>
              <option value="">3500-5000</option>
          </select>
      </span>
      </div>
      </div>
      <div class="message">
          <span class="mes">
          <textarea name="" id="" cols="30" rows="10" placeholder="Message"></textarea>
      </span>
      </div>
      <div class="send_btn">
          <span class="btn_icon">
          <input type="button" value="Send Me A Proposal">
              <img src="{% get_static_prefix%}assets/images/arrow.png" alt="">
          </span>
      </div>
    </div>
  </div>
    </div>
  </section>

<!-- ----------------SECTION 1------------- -->
   
<section class="strategic_approach wmud">
    <div class="container">
    <h3>Webify is a Fintech <span style="color: rgb(255 150 28);">focused SEO Agency.</span> </h3>
    <p>Mauris ac nisi lectus. Donec ac libero nec dui ullamcorper facilisis. Sed vehicula rhoncus magna, et porttitor arcu semper sit amet. Nam gravida libero eget suscipit fringilla. Quisque vel ante sollicitudin, rhoncus ex quis, feugiat leo. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Nunc venenatis ac orci a faucibus. Nulla porttitor purus ac nisl mattis, a accumsan mauris aliquam. Integer auctor risus eu tortor porttitor vulputate. Curabitur in ullamcorper lectus. Sed tempus, nisl vitae accumsan euismod, arcu lectus rutrum ante, eget pulvinar sapien lacus a ligula. Duis sagittis enim dapibus dui suscipit, eget feugiat massa finibus. Nulla cursus diam nibh, et accumsan magna iaculis ultricies.</p>
    <div class="stra_request_purposal">
        <a href="#" class="form_btn">request purposal
            <span class="req_icon"><img src="{% get_static_prefix%}assets/images/arrow.png" alt="" /></span></a>
    </div>
</div>
</section>

<!-- ------------WHAT MAKES US DIFFERENT -------- -->

<section class="sec1">
    <div class="container">
        <h2>What Makes Us <span style="color:#ff961c;">Different?</span>
        </h2>
        <div class="sec1_boxes">
            <div class="sec1_box1">
                <div class="sec1_box1_content">
                    <img src="{% get_static_prefix%}assets/images/sec1_img1.png" alt="">
                    <p>Founded by <br> In-house <br> marketers</p>
                </div>
            </div>
            <div class="sec1_box1">
                <div class="sec1_box1_content">
                    <img src="{% get_static_prefix%}assets/images/sec1_img2.png" alt="">
                    <p>Hands on <br> experience growing <br> organic traffic to 9 <br> figures per month</p>
                </div>
            </div>
            <div class="sec1_box1">
                <div class="sec1_box1_content">
                    <img src="{% get_static_prefix%}assets/images/sec1_img3.png" alt="">
                    <p>Have ranked <br> pages for the <br> most difficult <br> keywords in SEO</p>
                </div>
            </div>
            <div class="sec1_box1">
                <div class="sec1_box1_content">
                    <img src="{% get_static_prefix%}assets/images/sec1_img4.png" alt="">
                    <p>Have managed <br> large-scale <br> content teams <br> and operations</p>
                </div>
            </div>
            <div class="sec1_box1">
                <div class="sec1_box1_content">
                    <img src="{% get_static_prefix%}assets/images/sec1_img5.png" alt="">
                    <p>Understand the <br> unique role links <br> play in ranking for <br> consumer finance <br>
                        keywords.</p>
                </div>
            </div>
        </div>
    </div>
</section>

    <!-- ---------------ABOUT -------------->
    <section class="about">
        <div class="container">
              <div class="about_flex">
                <div class="about_img igal">
                    <img src="{% get_static_prefix%}assets/images/igal_stol.png" alt="">
                    <div class="links igal_links">
                        <div class="twitter_icon">
                          <a href="#"><i class="fa-brands fa-twitter"></i></a>  
                        </div>
                        <div class="linkden_icon">
                          <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>  
                        </div>
                    </div>
                </div>
                <div class="about_text">
                    <div class="about_cnt">
                        <h2>Igal Stolpner</h2>
                        <div class="des">
                        <h5>Co-Founder</h5>
                    </div>
                        <p>Igal Stolpner has co-founded Webify after leaving his 
                            role as VP Growth at Investing.com, where he started as 
                            first employee back in 2007, and left when the company 
                            was sold in 2021.
                            <br><br>
                            Igal led the company’s growth from zero to over 250M monthly sessions, with over 50% of traffic coming from Organic Search.
                            <br><br>
                            From zero to top 200 sites globally.
                            <br><br>
                            In 2021, Igal has received the Extraordinary Abilities US 
                            Green Card for his experience in SEO.
                            </p>
                    </div>
                </div>
              </div>
        </div>      
    </section>
  <!-- ---------------ABOUT -------------->
  <section class="about ron">
    <div class="container">
          <div class="about_flex flex2">
            <div class="about_text">
                <div class="about_cnt">
                    <h2>Ron Kugler</h2>
                    <div class="des">
                    <h5>Co-Founder & Operations Director.</h5>
                </div>
                    <p>Ron is a performance marketing enthusiast. At PPR Media, 
                        he led a team of PPC marketers across multiple verticals including Insurance, Financial services and Credit Cards. Reaching over $25.5M ARR.
                        <br><br>
                        After PPR Media, Ron has founded Logic Leap LTD, a search partner of Microsoft Bing and Yahoo.
                         </p>
                </div>
            </div>

            <div class="about_img ron_img">
                <img src="{% get_static_prefix%}assets/images/ron.png" alt="">
                <div class="links ron_links">
                    <div class="twitter_icon">
                      <a href="#"><i class="fa-brands fa-twitter"></i></a>  
                    </div>
                    <div class="linkden_icon">
                      <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>  
                    </div>
                </div>
            </div>

          </div>
    </div>      
</section>

<!-- js for menu  -->
<script src="{% get_static_prefix %}assets/jquery/jquery-3.6.0.js"></script>
<script>
    $(document).ready(function(){
        $(".toggle").click(function(){
            // $(".menu.active").toggleClass("active");
            $(".menu").toggleClass("active");
            $(".toggle").toggleClass("active");
        });
                    // js for for popup form
    $(".form_btn").click(function(){
        $('#form_content').show();
    });
    //close button
    $('.close_btn').click(function(){
        $('#form_content').hide();
    });

    //image hover  
    $('.links').hide();
    $('.igal').mouseenter(function(){
        $('.igal_links').show();
    });
    $('.igal').mouseleave(function(){
        $('.igal_links').hide();
    });

    $('.ron_img').mouseenter(function(){
        $('.ron_links').show();
    })
    $('.ron_img').mouseleave(function(){
        $('.ron_links').hide();
    });
      });
   </script>



{% endblock %}



